.hide {
    display: none;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }

    img {
        max-height: 60vh;
        min-width: 100%;
        object-fit: cover;
    }
}

#contact {
    margin-top: 2rem;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.contact-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    text-align: center;
}

.contact-label {
    font-weight: bold;
    margin-right: 0.5rem;
}

.contact-value,
.contact-link {
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

#links {
    margin-bottom: 20px;
}

.spaced-table {
    width: 100%;
    table-layout: fixed;
}

.project-table td {
    padding: 14px 10px;
    vertical-align: top;
}

.project-table td:first-child,
.project-table th:first-child {
    text-align: right;
}

.spaced-table td {
    padding: 10px 10px;
    border-bottom: 1px solid black;
}
  
.spaced-table th:first-child,
.spaced-table td:first-child {
    width: 50%; /* First column takes 60% */
}

.spaced-table th:nth-child(2),
.spaced-table th:nth-child(3),
.spaced-table td:nth-child(2),
.spaced-table td:nth-child(3) {
    width: 25%; /* Last two columns take 20% each */
}

th, td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}