.hide {
    display: none;
}

@media screen and (min-width: 1500px) {
    html {
        font-size: 14px;
    }

    img {
        max-height: 60vh;
        min-width: 100%;
        object-fit: cover;
    }
}