* {
  font-size: 2.5vw;
}

body {
  background-color: #0a0a23;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 50vw;
  max-height: 70vh;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

@media (max-width: 1000px) {
  * {
    font-size: 4vw; /* Increase base font size for smaller screens */
  }

  #game {
    max-width: 90vw;
  }

  button {
    padding: 2vw 4vw;
  }

  /* Stack stats, controls, and monster stats vertically for smaller screens */
  #controls {
    display: flex;
    flex-direction: column;
  }
}